{{ define "main" }}
<div class="box">
    <h1 class="title">{{ .Title }}</h1>
    <h3 class="subtitle">
      <span class="tag is-dark">{{ .Date.Format "Jan 2, 2006" }}</span>
    </h3>

    {{ $imageName := .Params.imageName}}
    {{ $asset := resources.Get $imageName}}
    {{ $img := $asset.Fit "600x400" }}

    <figure class="image is-square">
        <img alt="{{.Params.imageAlt}}" src="{{ $img.RelPermalink }}" />
    </figure>

    <article class="content">
      {{ .Content }}
    </article>
</div>
{{ end }}
